body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
nav {
	width: 100%;
	background: #033163;
}
ul {
	width: 80%;
	margin: 0 auto;
	padding: 0;
}
ul li {
	display: inline-block;
	list-style: none;
	padding: 20px;
}
ul li:hover {
	background: #e91e63;
}
ul li a {
	color: #fff;
	text-decoration: none;
}
.toggle {
	width: 100%;
	padding: 10px 20px;
	background: #00144f;
	text-align: right;
	box-sizing: border-box;
	color: #fff;
	font-size: 30px;
	display: none;
}


/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  position: absolute;
  top: 40%;
  width: auto;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 10px 10px 0;
  background: black;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 10px 0 0 10px;
}


@media (max-width: 768px ) {
	.toggle {
		display: block;
	}
	ul {
		width: 100%;
		display: none;
	}
	ul li {
		display: block;
		text-align: center;
	}
	.active { display: block; }
}
