*{
	padding: 0;
	margin: 0;

}
.container{
	width: 90%;
	height:700px;
	margin: 0 auto;
	background-image: url(background.jpg);
}
header{
	border: 1px;
	background-color: #00CCFF;
	height:100px;
	width:97%;
	margin: 10px;
	padding-top: 10px;
}
.brand{
	border: 1px;
	background-color: #CCFFFF;
	height: 65px;
	width: 14.5%;
	text-align: center;
	line-height: 65px;
	margin:5px;
	margin-right: 10px;
	float:left;
	
}
.global{
	border: 1px;
	background-color: #CCFFFF;
	height:65px;
	width: 49.5%;
	padding-right:30px;
	margin:5px;
	margin-left-right:10px;
	float:left;
	text-align: center;
	line-height: 65px;
}
.tool{
	border: 1px;
	background-color: #CCFFFF;
	height: 65px;
	width: 24.5%;
	margin:5px;
	/*padding-right: 10px;*/
	float:left;
	text-align: center;
	line-height: 65px;
}
nav{
	border: 1px;
	background-color: #00CCFF;
	height: 150px;
	width:70%;
	margin: 10px;
	padding-top: 10px;
	float:left;
}
.feature{
	border: 1px;
	background-color: #CCFFFF;
	height:115px;
	width:60%;
	margin:5px;
	margin-right: 10px;
	float:left;
	text-align: center;
	line-height: 115px;
}
.action{
	border: 1px ;
	background-color: #CCFFFF;
	height:115px;
	width:34%;
	margin:5px;
	margin-left: 10px;
	float:left;
	text-align: center;
	line-height: 115px;
}
.ad{
	border: 1px;
	background-color: #0066CC;
	height: 160px;
	width:25%;
	margin: 10px;
	float:left;
	text-align: center;
	line-height: 160px;
}
section{
	border: 1px;
	background-color: #00CCFF;
	height: 300px;
	width:70%;
	margin: 10px;
	padding-top: 10px; 
	float:left;

}
.article{
	border: 1px ;
	background-color: #CCFFFF;
	height:265px;
	width:35%;
	margin:5px;
	float:left;
	text-align: center;
	line-height: 265px;
}
.list{
	border: 1px ;
	background-color: #CCFFFF;
	height:265px;
	width:60%;
	margin:5px;
	margin-left: 10px;
	float:left;
	text-align: center;
	line-height: 265px;
}
#sidebar{
	border: 1px ;
	background-color: #00CCFF;
	height: 300px;
	width:25%;
	margin: 10px;
	/*padding-left: 5px;*/
	padding-top: 10px;
	float:left;
}
.feature1{
	border: 1px ;
	background-color: #CCFFFF;
	height:265px;
	width:95%;
	margin:5px;
	float:left;
	text-align: center;
	line-height: 265px;
}
footer{
	border: 1px ;
	background-color: #00CCFF;
	height: 40px;
	width:97%;
	margin: 10px;
	padding-top: 10px;
	float: left;
}
section .ad{display:none;}

@media screen and (max-width: 1024px){
	.tool{padding-right: 20px;}
}
@media screen and (max-width: 768px){
	.container{height:900px;}
	.ad{display:none;}
	nav, .feature, .action, #sidebar{
		width: 97%;
	}
	.feature, .action{
		height:50px;
		line-height: 50px;
		margin: 5px;
		margin-left: 10px;
	}

	section{
		border: 1px;
		background-color: #00CCFF;
		height: 350px;
		width:97%;
		margin: 10px;
		padding-top: 10px; 
		float:left;
	}
	section .ad{
		display: initial;
		height:100px; 
		width:25%;
		float:left;
		margin-top: 5px;
		line-height: 100px;
	}
	.article{
		width:68%;
		height:100px;
		line-height: 100px;
		margin-left: 10px;
	}
	
	.list{
		width: 93%;
		height:170px;
		padding:10px;
		line-height: 150px;
	}
	#sidebar{
		height:100px;
	}
	.feature1{
		height:60px;
		line-height: 60px;
	}
	.tool{padding-right: 0px;}
}
@media screen and (max-width: 480px){
	.container{height: 650px}
	.list{
		height: 100px;
		width:90%;
		line-height: 100px;
	}
	section{height:300px;}
	.brand,.article{
		width:95%;
	}
	.global, .tool{
		width:40%;
	}
	.tool{padding-right: 20px;}
	.brand,.global, .tool{
		height:25px;
		line-height: 25px;
	}
	.action{width: 85%;}
	#sidebar,.feature{display:none;}
	nav{height:100px;}
	section .ad{
		/*display:inital;*/
		height:50px; 
		width:95%;
		line-height: 50px;
	}
	.article{
		height:50px; 
		line-height: 50px;
	}

}
