body{
	background-color: red;
}
@media screen and (max-width: 960px){
	body{
		background-color: green;
	}
}
@media screen and (max-width: 768px){
	body{
		background-color: blue;
	}
}
@media screen and (max-width: 560px){
	body{
		background-color: yellow;
	}
}